



<div class="container">
	<div class="row" style="margin-top:30px; ">
<div class="col-md-12">
 <h2 class="flot"><i class="fa fa-pie-chart" aria-hidden="true"></i></h2>
     <h1>Performance du Plat le plus vendu </h1>
     <small class="ash"></small><br>
     <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">75%</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
<dl>
  <dt>
   Performance
  </dt>
  <dd class="percentage percentage-11"><span class="text">Topic 1: 11.33%</span></dd>
  <dd class="percentage percentage-49"><span class="text">Topic 2: 49.77%</span></dd>
  <dd class="percentage percentage-16"><span class="text">Topic 3: 16.09%</span></dd>
  <dd class="percentage percentage-5"><span class="text">Topic 4: 5.41%</span></dd>
  <dd class="percentage percentage-2"><span class="text">Topic 5: 1.62%</span></dd>
  <dd class="percentage percentage-2"><span class="text">Topic 6: 2%</span></dd>
</dl>


    
</div>
</div>
</div>
