<div style="margin : 5%">
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fas fa-cocktail w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{lengthBoissons}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Boissons</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fas fa-balance-scale w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{lengthIngredients}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Ingredients</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fas fa-book-open w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{lengthSrecettes}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Sous Recettes</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fas fa-utensils w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>{{lengthPlats}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Plats</h4>
            </div>
        </div>
    </div>
    <br>
<div >
    <h1 class="flot" fxLayoutAlign="center start">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        La Marge La Plus élevée
    </h1>
    <small class="ash"></small><br>
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
            <div>
                    <h3>Plat :{{sortedPlatMarge[0].nomPlat}} </h3>
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">{{margePlat(sortedPlatMarge[0])}}%</div>
                </div>
            </div>
            <div>
                    <h3>Boisson : Jus Oranges </h3>
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">750%</div>
                </div>
            </div>
        </div>
    </div>
</div>
    <br>
    <div class="col-md-6">
        <div class="w3-container">
            <h1>Les Plats Les Plus Vendus</h1>
            <h3>Hamgurger Fromage</h3>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-green" style="width:25%">25%</div>
            </div>

            <h3>Spaghetti Fruits de Mer</h3>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-orange" style="width:20%">20%</div>
            </div>

            <h3>Plat Daurade</h3>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-red" style="width:10%">10%</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="w3-container">
            <h1>Les Boissons Les Plus Vendues</h1>
            <h3>Bièrre</h3>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-green" style="width:50%">50%</div>
            </div>

            <h3>Eaux</h3>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-orange" style="width:30%">30%</div>
            </div>

            <h3>Jus</h3>
            <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-red" style="width:5%">5%</div>
            </div>
        </div>
    </div>
</div>