<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup" class="example-form" >
      <ng-template matStepLabel>Boisson</ng-template>
      <mat-form-field class="example-full-width">
          <input type="text" placeholder="Boisson" aria-label="Number" matInput formControlName="firstCtrl" required [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option1 of filteredOptions1 | async" [value]="option1">
              {{option1}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      <div>
        <button  mat-stroked-button class="btn-primary" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>categorie</ng-template>
      <mat-form-field>
          <input type="text" placeholder="categorie" aria-label="Number" matInput [matAutocomplete]="auto" formControlName="secondCtrl" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option2 of options2" [value]="option2">
              {{option2}}
            </mat-option>
          </mat-autocomplete>
       
      </mat-form-field>
      <div>
        <button mat-stroked-button class="btn-primary" mat-button matStepperPrevious>Précédent</button>
        <button mat-stroked-button class="btn-primary" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Famille</ng-template>
      <mat-form-field>
          <input matInput type="number" placeholder="Famille" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" mat-button matStepperPrevious>Précédent</button>
        <button mat-stroked-button color="primary" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>NBBouteilles</ng-template>
      <mat-form-field>
          <input matInput type="number" placeholder="BBouteilles" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-stroked-button color="primary" mat-button matStepperPrevious>Précédent</button>
        <button mat-stroked-button color="primary" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
 
  <mat-step>
    <ng-template matStepLabel>validation</ng-template>
    Enregistrer votre Remplissage.
    <div>
      
      
      <button mat-stroked-button class="btn-primary" mat-button matStepperPrevious>Précédent</button>
      <button mat-stroked-button class="btn-primary" mat-button (click)="stepper.reset()">Supprimer</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


