:host{
    div{
        mat-card{
            padding: 0;
           
            mat-card-title {
                border-radius: 3%;
                background-color: rgb(211, 207, 214);
                width: 100%;
                text-align: center;
                height: 50px;
               padding-top: 8px;
            }

            mat-card-content{
                padding: 12px;
                form{
                mat-form-field {
                    margin: 0;
                    padding: 0;
                    width: 100% ;
                    mat-icon{
                        cursor: pointer;
                    }
                }
                button{ width: 100%;
                }
                }
            }
        }
    }
}