<div class="center">
  <mat-card>
    <mat-card-title>
      <mat-icon matSuffix>lock</mat-icon>
        LOGIN
    </mat-card-title>
    <mat-card-content>
      <form class="example-form ">

        <mat-form-field appearance="outline">
          <mat-label>Tapez votre e-mail</mat-label>
          <input type="email" matInput  [formControl]="email" required>
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Tapez votre mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        </mat-form-field>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="center" mat-raised-button color="primary" [disabled]="isValid || loading" (click)="login()">
            {{loading?'Loading..':'se connecter'}}</button></div>
          <div class="col-md-4"></div>
        </div>
        
      </form>
    </mat-card-content>
  </mat-card>
</div>
