<h1 mat-dialog-title>Ajout Boisson</h1>
<div mat-dialog-content fxLayout="row"fxLayoutAlign="space-between space-between">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Boisson</mat-label>
      <input matInput [(ngModel)]="Boisson">
    </mat-form-field>
    <mat-tab label="boissons">
        <div>
          <div style="width:100%">
            <mat-form-field appearance="outline">
              <mat-label>code</mat-label>
              <input [(ngModel)]="boisson.code" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>libelle</mat-label>
              <input [(ngModel)]="boisson.libelle" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>quantite</mat-label>
              <input [(ngModel)]="boisson.quantite" matInput required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>prix</mat-label>
              <input [(ngModel)]="boisson.prix" matInput required>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>classe</mat-label>
                <mat-select [(ngModel)]="boisson.classe" required>
                  <mat-option *ngFor="let classe of cboisson.classes" [value]="classe">
                    {{classe.payload.val().nomclasse}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
           



            <mat-form-field appearance="outline">
              <mat-label>famille</mat-label>
              <mat-select [(ngModel)]="boisson.famille" required>
                <mat-option *ngFor="let famille of test.familles |filterbyclasse:boisson?.classe?.key  "
                  [value]="famille">
                  {{famille.payload.val().nomfamille}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>sous famille</mat-label>
              <mat-select [(ngModel)]="boisson.sfamille" required>
                <mat-option *ngFor="let sfamille of test.sfamilles |  filterbyfamille:boisson?.famille?.key  "
                  [value]="sfamille">
                  {{sfamille.payload.val().nomsfamille}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>achat</mat-label>
              <mat-select [(ngModel)]="boisson.achat" required>
                <mat-option *ngFor="let achat of test.achats" [value]="achat">
                  {{achat.payload.val().nom}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>stockage</mat-label>
              <mat-select [(ngModel)]="boisson.stockage" required>
                <mat-option *ngFor="let stockage of test.stockages" [value]="stockage">
                  {{stockage.payload.val().nom}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
  
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <button mat-mini-fab (click)="addNewBoisson()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <br>
      </mat-tab>

  <div >
      <button class="btn-modal" mat-stroked-button color="primary" >Enregistrer</button>
      <button  class="btn-modal"mat-stroked-button color="primary" (click)="onNoClick()" > Annuler</button>

  </div>
</div>

