<mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image src="../../../../assets/plat/1074x1074_8119-cover.jpg" alt="salade">
            <mat-card-content>
                    <p>
                     plat oeuf brouillé
                    </p>
                  </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        
          <mat-grid-tile>
            <mat-card class="example-card">
             
              <img mat-card-image src="../../../../assets/plat/s.jpg" alt="salade">
      
      
            </mat-card>
          </mat-grid-tile>
        
            <mat-grid-tile>
              <mat-card class="example-card">
                
                <img mat-card-image src="../../../../assets/plat/menu-plat-du-moment.jpg" alt="salade">
      
      
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              
                  <mat-card class="example-card">
                
                  <img mat-card-image src="../../../../assets/plat/ch.jpg" alt="salade">
      
      
                </mat-card>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-card class="example-card">
                    
                    <img mat-card-image src="../../../../assets/plat/soupe.jpg" alt="salade">
          
          
                  </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card">
                      
                      <img mat-card-image src="../../../../assets/plat/pizza.jpg" alt="salade">
            
            
                    </mat-card>
                  </mat-grid-tile>
      </mat-grid-list>