
mat-grid-tile {
 


    .example-card {
        max-width: 400px !important;
      
      
      .example-header-image {
        background-image: url('../../../../assets/plat/1074x1074_8119-cover.jpg');
        background-image: url('../../../../assets/plat/s.jpg');
        background-image: url('../../../../assets/plat/menu-plat-du-moment.jpg');
        background-image: url('../../../../assets/plat/ch.jpg');
        background-image: url('../../../../assets/plat/soupe.jpg');
        background-image: url('../../../../assets/plat/pizza.jpg');
      }
    }
    }