:host{
    .dialog{
        mat-toolbar{
            background: #676a6c;
            color: #fff;
        }
        .body{
            padding: 10px 10px 0 10px;
            max-width: 800px;
            max-height: 350px;
            overflow-x: hidden;
            overflow-y: auto;
            mat-form-field{
                width: 100%;
            }
        }
        .dialog-footer{
            padding: 10px 0;
        }
    }

    input[type="file"] {
        display: inline-block;
        opacity: 0;
        position: absolute;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 30px;
        padding-bottom: 67px;
        width: 85%;
        z-index: 99;
        margin-top: 10px;
        cursor:pointer;
    }
}
