<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" fxLayoutGap="83%"  fxLayout="row"  fxLayoutAlign="space-between start"  >
    <div class="navbar-header" >
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>
    <!-- chercher -->

    <!-- <form class=" nav navbar-form " action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="chercher">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form> -->
          <!-- logout -->

    <ul class="nav " >
      <li>
        <a [routerLink]="['']" >
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </nav>
</div>
