
<div class="header px-30" fxLayout="column" fxLayoutAlign="space-around start">
  <div class="details w-100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="breadcrumb" [fxHide.xs]="true">
      <span>Home/ </span>
      <span>Boissons</span>
    </div>
    <div class="back px-15" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button [routerLink]="['']">
        <mat-icon style="font-size: 22px;">keyboard_arrow_left</mat-icon>
        <span style="font-size: 15px;">Retour</span>
      </button>
    </div>
  </div>
  <div class="actions w-100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <div>
      <mat-form-field appearance="outline">
        <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off" placeholder="Filtrer">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" [ngStyle.xs]="{'padding.px': 10}">
     <!-- supprimer tous -->
      <!-- <div fxLayout="row" (click)="openDialog2()" fxLayoutAlign="center center" style="color: red; cursor:pointer;"
        fxLayoutGap="5px">
        <mat-icon style="font-size: 21px;">delete_forever</mat-icon>
        <span [fxHide.xs]="true">Supprimer</span>
      </div> -->
      <div fxLayout="row" (click)="openCBoisson()" fxLayoutAlign="center center" style="cursor:pointer;"
        fxLayoutGap="5px">
        <mat-icon style="font-size: 21px;">add_to_photos</mat-icon>
        <span [fxHide.xs]="true">Ajouter</span>
      </div>
      <!-- importer excel -->
      <!-- <div fxLayout="row" fxLayoutAlign="center center" style="cursor:pointer;" fxLayoutGap="5px">
        <mat-icon style="font-size: 21px;">note_add</mat-icon>
        <span [fxHide.xs]="true">Importer Excel</span>
      </div> -->
      <!-- exporter excel -->
      <!-- <div fxLayout="row" fxLayoutAlign="center center" style="cursor:pointer" fxLayoutGap="5px">
        <mat-icon style="font-size: 21px;">file_copy</mat-icon>
        <span (click)="downloadCSV()" >Exporter</span>
      </div> -->
    </div>
  </div>
</div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-responsive-md table-striped ">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
      <ng-container matColumnDef="boisson">
        <th mat-header-cell *matHeaderCellDef> Boisson </th>
        <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
      </ng-container>

      <ng-container matColumnDef="classe">
        <th mat-header-cell *matHeaderCellDef> Classe </th>
        <td mat-cell *matCellDef="let element"> {{element.classe.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="famille">
        <th mat-header-cell *matHeaderCellDef> Famille </th>
        <td mat-cell *matCellDef="let element"> {{element.famille.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="sfamille">
        <th mat-header-cell *matHeaderCellDef> Sous Famille </th>
        <td mat-cell *matCellDef="let element"> {{element.sfamille.nom}} </td>
      </ng-container>
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center end">
          <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #506169;">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEdit(element)" >Modifier</button>
            <button mat-menu-item (click)="openSupprime(element)" >Supprimer</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
