<mat-tab-group>
  <mat-tab label="Ingredients">

    <table mat-table [dataSource]="plat.ingredient" class="mat-elevation-z8" style="width : 100% ;">
      

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> ingredient </th>
        <td mat-cell *matCellDef="let element"> {{element.ingredient.libelle}} </td>
      </ng-container>

      <ng-container matColumnDef="quantité">
        <th mat-header-cell *matHeaderCellDef> quantité </th>
        <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
      </ng-container>

      <ng-container matColumnDef="unité">
        <th mat-header-cell *matHeaderCellDef> unité </th>
        <td mat-cell *matCellDef="let element"> {{element.unite}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="ingredientColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: ingredientColumns;"></tr>
    </table>

  </mat-tab>
  <mat-tab label="Sous Recette">
    
    <table mat-table [dataSource]="plat.srecettes" class="mat-elevation-z8" style="width : 100% ;">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> sous recette </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="quantité">
        <th mat-header-cell *matHeaderCellDef> quantité </th>
        <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
      </ng-container>

      <ng-container matColumnDef="unité">
        <th mat-header-cell *matHeaderCellDef> unité </th>
        <td mat-cell *matCellDef="let element"> {{element.unite}} </td>
      </ng-container>
      <ng-container matColumnDef="voir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="center end">
          <button mat-icon-button style="color: #506169;">
            <mat-icon>more_vert</mat-icon>
            voir
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="sousRecetteColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: sousRecetteColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Etapes">
   
    <table mat-table [dataSource]="plat.etapes" class="mat-elevation-z8" style="width : 100% ;">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> étape </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="etapeColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: etapeColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Image"> 
      <div>
          <img (click)="file.click()" [src]="photo" alt="plat" >
          <input hidden #file type="file" accept="image/*">
          <!-- <span class="hiddenFileInput">
           
          </span> -->
        </div>   </mat-tab>
</mat-tab-group>
          