<h1 mat-dialog-title>Ajout Plat</h1>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Plat</mat-label>
      <input matInput [(ngModel)]="Plat">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>categorie</mat-label>
      <input matInput [(ngModel)]="categorie">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>famille</mat-label>
      <input matInput [(ngModel)]="famille">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>sous famille</mat-label>
      <input matInput [(ngModel)]="sfamille">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nbr Parts</mat-label>
      <input matInput type="number" maxlength="2" [(ngModel)]="nbParts">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>durée Preparation</mat-label>
      <input matInput [(ngModel)]="duree">
    </mat-form-field>
  </div>
  <div>
    <button class="btn-modal" mat-stroked-button color="primary">Enregistrer</button>
    <button class="btn-modal" mat-stroked-button color="primary"> Annuler</button>

  </div>
</div>
<mat-tab-group>
  <mat-tab label="Ingredients">
    <form [formGroup]="firstFormGroup">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field appearance="outline">
          <mat-label>ingredient</mat-label>
          <input matInput formControlName="ingredient" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>quantité</mat-label>
          <input matInput formControlName="quantite" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>unité</mat-label>
          <input matInput formControlName="unite" required>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary"
            style="width : 100px ; margin-top: 3px ;height: 45px;">valider</button>
        </div>
      </div>
    </form>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width : 100% ;">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ingredient">
        <th mat-header-cell *matHeaderCellDef> ingredient </th>
        <td mat-cell *matCellDef="let element"> {{element.ingredient}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="quantité">
        <th mat-header-cell *matHeaderCellDef> quantité </th>
        <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="unité">
        <th mat-header-cell *matHeaderCellDef> unité </th>
        <td mat-cell *matCellDef="let element"> {{element.unite}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>
  <mat-tab label="Sous Recette">Sous Recette</mat-tab>
  <mat-tab label="Etapes"> Etapes</mat-tab>
  <mat-tab label="Image"> Image</mat-tab>


</mat-tab-group>

<!-- <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Ingredients</ng-template>
        
        <div>
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Sous Recette</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Etapes</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="thirdCtrl" required>
          </mat-form-field>
          <div>
            <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
            <button mat-stroked-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Image</ng-template>
      <div>
        <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
        <button mat-stroked-button color="primary" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper> -->