<div class="dialog" fxLayout="column">
  <mat-toolbar>
    <h5>Confirmation de suppression </h5>
  </mat-toolbar>
  <div class="body" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
      <mat-label>Etes vous sure de vouloir supprimer la Boisson : <b>{{element.libelle}}</b> ?</mat-label>
    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-stroked-button  (click)="onDelete()" color="primary">Supprimer</button>
      <button mat-button (click)="onNoClick()"> Annuler</button>
    </div>
  </div>
</div>