@import '../../../../assets/shared';

:host {
  .header {
    min-height: 105px;
    border-bottom: 1px solid $border-color;

    .details {

      .breadcrumb {
        font-size: 14px;

        span:nth-child(1) {
          color: $icons-color;
        }

        span:nth-child(2) {
          color: $primary-color;
        }
      }

      .back {
        color: $text-color;
      }
    }

    .actions {
      color: $text-color;

      mat-form-field {
        font-size: 14px;
        width: 400px;
        padding: 0 !important;
      }
    }
  }



  button {
    width: 15%;
    padding: 7px;
    margin-top: 5px;

  }

  table {
    width: 100%;
    border-radius: 4%;

    th {
      text-decoration: bold;
    }
  }
}
