<div class="dialog" fxLayout="column">
  <mat-toolbar>
    <h5>Boisson</h5>
  </mat-toolbar>
  <div class="body" fxLayout="column">
    

    <div style="width:100%" fxLayoutGap="50px">
      <mat-form-field appearance="outline">
        <mat-label>code</mat-label>
        <input [(ngModel)]="boisson.code" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>libelle</mat-label>
        <input [(ngModel)]="boisson.libelle" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>quantite</mat-label>
        <input [(ngModel)]="boisson.quantite" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>prix</mat-label>
        <input [(ngModel)]="boisson.prix" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>classe</mat-label>
        <mat-select [(ngModel)]="boisson.classe" required>
          <mat-option *ngFor="let classe of payload.boisson.classes" [value]="classe">
            {{classe.payload.val().nomclasse}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>famille</mat-label>
        <mat-select [(ngModel)]="boisson.famille" required>
          <mat-option *ngFor="let famille of payload.boisson.familles |filterbyclasse:boisson?.classe?.key  "
            [value]="famille">
            {{famille.payload.val().nomfamille}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>sous famille</mat-label>
        <mat-select [(ngModel)]="boisson.sfamille" required>
          <mat-option *ngFor="let sfamille of payload.boisson.sfamilles |  filterbyfamille:boisson?.famille?.key  "
            [value]="sfamille">
            {{sfamille.payload.val().nomsfamille}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>achat</mat-label>
        <mat-select [(ngModel)]="boisson.achat" required>
          <mat-option *ngFor="let achat of payload.boisson.achats" [value]="achat">
            {{achat.payload.val().nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>stockage</mat-label>
        <mat-select [(ngModel)]="boisson.stockage" required>
          <mat-option *ngFor="let stockage of payload.boisson.stockages" [value]="stockage">
            {{stockage.payload.val().nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>

  </div>
  <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-stroked-button color="primary" [disabled]="valider"
      (click)="EditBoisson()">Enregistrer</button>
    <button mat-button (click)="onNoClick()"> Annuler</button>
  </div>
</div>