<div class="dialog" fxLayout="column">
  <mat-toolbar>
    <h5>srecette</h5>
  </mat-toolbar>
  <div class="body" fxLayout="column">
    <h5>Basic info</h5>
      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
      <mat-form-field appearance="outline">
        <mat-label>code</mat-label>
        <input matInput [ngModel]="srecette.code" required autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput [ngModel]="srecette.nomsrecette" required autocomplete="off">
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
      <mat-form-field appearance="outline">
        <mat-label>Nbr Parts</mat-label>
        <input matInput type="number" maxlength="2" [ngModel]="srecette.nbPart">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>durée Preparation</mat-label>
        <input matInput [ngModel]="srecette.duree">
      </mat-form-field>
    </div>
    <h5>Ingredients</h5>

    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between">
      <mat-form-field style="width:100%;" appearance="outline">
        <mat-label>ingredient</mat-label>
        <mat-select [(ngModel)]="libelleIng" #I (selectionChange)="onSelection($event) ">
          <mat-option>
            <ngx-mat-select-search [formControl]="ingFilterCtrl" [placeholderLabel]="'Ingredient'"
              [noEntriesFoundLabel]="'Ingredient inexistant'">
            </ngx-mat-select-search>
          </mat-option>

          <mat-option *ngFor="let row of filteredIngs | async " [value]="row">{{row.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>quantité</mat-label>
        <input [(ngModel)]="quantiteIng" matInput>
        <span matSuffix>{{selectedIngredient}}</span>
      </mat-form-field>
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="addIng()">
          <mat-icon>add</mat-icon>
        </a>
      </span>
    </div>
    <table mat-table [dataSource]="DtIngredients" class="mat-elevation-z8 table table-responsive-md table-striped ">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>
      <ng-container matColumnDef="ingredient">
        <th mat-header-cell *matHeaderCellDef> ingredient </th>
        <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
      </ng-container>
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef> Quantite</th>
        <td mat-cell *matCellDef="let element">
          <input type="number" [value]="element.quantite" (keyup.enter)="updateIng(element.key,$event.target.value)">
        </td>
      </ng-container>


      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteIng(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsIng"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsIng;"></tr>
    </table>


    <h5>Sous recette</h5>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between">

      <mat-form-field style="width:100%;" appearance="outline">
        <mat-label>srecette</mat-label>
        <mat-select [(ngModel)]="libelleSrec">
          <mat-option>
            <ngx-mat-select-search [formControl]="srecFilterCtrl" [placeholderLabel]="'Sous Recette'"
              [noEntriesFoundLabel]="'SRecette inexistante'">
            </ngx-mat-select-search>
          </mat-option>

          <mat-option *ngFor="let row of filteredSrec | async " [value]="row">{{row.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>quantité</mat-label>
        <input [(ngModel)]="quantiteSrec" matInput>
      </mat-form-field>
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="addSrec()">
          <mat-icon>add</mat-icon>
        </a>
      </span>
    </div>

    <table mat-table [dataSource]="DtSrecettes" class="mat-elevation-z8 table table-responsive-md table-striped ">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>
      <ng-container matColumnDef="srecette">
        <th mat-header-cell *matHeaderCellDef> sous recette </th>
        <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
      </ng-container>
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef> Quantite</th>
        <td mat-cell *matCellDef="let element">
          <input type="number" [value]="element.quantite" (keyup.enter)="updateSrec(element.key,$event.target.value)">
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteSrec(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsSrec"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSrec;"></tr>
    </table>
    
  </div>
  <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button mat-stroked-button color="primary" [disabled]="valider"

      (click)="Editsrecette()">Enregistrer</button>

    <button mat-button (click)="onNoClick()"> Annuler</button>
  </div>
</div>