<div class="dialog" fxLayout="column">
  <mat-toolbar>
    <h5>Plat</h5>
  </mat-toolbar>
  <div class="body" fxLayout="column">
    <h5>Basic info</h5>
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
      <mat-form-field appearance="outline">
        <mat-label>Plat</mat-label>
        <input matInput [(ngModel)]="plat.nomPlat" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>categorie</mat-label>
        <mat-select [(ngModel)]="plat.categorie">
          <mat-option *ngFor="let categorie of payload.plat.categories" [value]="categorie">
            {{categorie.payload.val().nomcategorie}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>famille</mat-label>
        <mat-select [(ngModel)]="plat.famille">
          <mat-option *ngFor="let famille of payload.plat.familles |filterbycategory:plat.categorie.key"
            [value]="famille">
            {{famille.payload.val().nomfamille}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">

      <mat-form-field appearance="outline">
        <mat-label>sous famille</mat-label>
        <mat-select [(ngModel)]="plat.sfamille">
          <mat-option *ngFor="let sfamille of payload.plat.sfamilles | filterbyfamille:plat.famille.key"
            [value]="sfamille">
            {{sfamille.payload.val().nomsfamille}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prix</mat-label>
        <input matInput type="number" [(ngModel)]="plat.prix">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>durée Preparation</mat-label>
        <input matInput [(ngModel)]="plat.duree">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign="space-around center">

      <div fxLayout="column">
        <h5>% Cout Plat</h5>


        <div class="c100 p{{PourcentCout}} small">
          <span>{{PourcentCout}}% </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
      <div fxLayout="column">
        <h5> Marge Plat *10</h5>
        <div class="c100 p{{Marge}} small">
          <span>{{Marge}}% </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between">
      <h5>Ingredients</h5>
      <mat-form-field style="width:100%;" appearance="outline">
        <mat-label>ingredient</mat-label>
        <mat-select [(ngModel)]="libelleIng" #I (selectionChange)="onSelection($event) ">
          <mat-option>
            <ngx-mat-select-search [formControl]="ingFilterCtrl" [placeholderLabel]="'Ingredient'"
              [noEntriesFoundLabel]="'Ingredient inexistant'">
            </ngx-mat-select-search>
          </mat-option>

          <mat-option *ngFor="let row of filteredIngs | async " [value]="row">{{row.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>quantité</mat-label>
        <input [(ngModel)]="quantiteIng" matInput>
        <span matSuffix>{{selectedIngredient}}</span>
      </mat-form-field>
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="addIng()">
          <mat-icon>add</mat-icon>
        </a>
      </span>
    </div>
    <table mat-table [dataSource]="DtIngredients" class="mat-elevation-z8 table table-responsive-md table-striped ">
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
      </ng-container>
      <ng-container matColumnDef="ingredient">
        <th mat-header-cell *matHeaderCellDef> ingredient </th>
        <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
      </ng-container>
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef> Quantite</th>
        <td mat-cell *matCellDef="let element">
          <input type="number" [value]="element.quantite" (keyup.enter)="updateIng(element.key,$event.target.value)">
        </td>
      </ng-container>
      <ng-container matColumnDef="pru">
        <th mat-header-cell *matHeaderCellDef> P.R.U</th>
        <td mat-cell *matCellDef="let element"> {{PrixUIng(element)}} </td>
      </ng-container>
      <ng-container matColumnDef="prt">
        <th mat-header-cell *matHeaderCellDef> P.R.T</th>
        <td mat-cell *matCellDef="let element"> {{PrixTIng(element,element.quantite)}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsIng"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsIng;"></tr>
    </table>

  
    <h5>Sous recette</h5>
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between">

    <mat-form-field style="width:100%;" appearance="outline">
      <mat-label>srecette</mat-label>
      <mat-select [(ngModel)]="libelleSrec">
        <mat-option>
          <ngx-mat-select-search [formControl]="srecFilterCtrl" 
          [placeholderLabel]="'Sous Recette'"
            [noEntriesFoundLabel]="'SRecette inexistante'">
          </ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let row of filteredSrec | async " [value]="row">{{row.libelle}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>quantité</mat-label>
      <input [(ngModel)]="quantiteSrec" matInput>
    </mat-form-field>
    <span class="table-add float-right mb-3 mr-2">
      <a class="text-success" (click)="addSrec()">
        <mat-icon>add</mat-icon>
      </a>
    </span>
  </div>
  
  <table mat-table [dataSource]="DtSrecettes" class="mat-elevation-z8 table table-responsive-md table-striped ">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
    <ng-container matColumnDef="srecette">
      <th mat-header-cell *matHeaderCellDef> sous recette </th>
      <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
    </ng-container>
    <ng-container matColumnDef="quantite">
      <th mat-header-cell *matHeaderCellDef> Quantite</th>
      <td mat-cell *matCellDef="let element">
        <input type="number" [value]="element.quantite" (keyup.enter)="updateSrec(element.key,$event.target.value)">
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteSrec(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsSrec"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsSrec;"></tr>
  </table>
</div>
<div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button mat-stroked-button color="primary" [disabled]="valider" (click)="EditPlat()">Enregistrer</button>

  <button mat-button (click)="onNoClick()"> Annuler</button>
</div>
</div>