
  :host{

  mat-form-field {
    font-size: 14px;
    width: 70%;
    padding: 0 !important;
  }
  
  button{
    width: 15%;
    padding: 7px;
    margin-top: 5px;

}
table {
    width: 100%;
    border-radius: 4%;
  }
}

