<nav class="navbar-default  navbar-static-side" style="color: rgb(47, 64, 80);" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="clear">
            <!-- <img src="../../../assets/img/logo_groupe_sousse_nord.jpg" height="100px" width="200px" alt="Golf Course"> -->
          </span>
          </a>
        </div>
        <br>
        <br>
      <div class="logo-element">
        <!-- <img src="../../../assets/img/logo_groupe_sousse_nord.jpg" height="40px" width="50px" alt="Golf Course">  -->
      </div>
      <!-- <br>
      <br>
      <br> -->
      <li *ngFor="let item of items" [ngClass]="{active: activeRoute('item.link')}">
        <a [routerLink]="[item.link]" matTooltip="{{item.title}}" matTooltipPosition="right"><i
            class="fas fa-{{item.icon}}"></i> <span class="nav-label">{{item.title}}</span></a>
      </li>
    </ul>
  </div>
</nav>