

  


<div class="container">
    <h2>Acceuil</h2>  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../../../../assets/img/plat/recette.jpg" alt="recette">
            <div class="carousel-caption">
              <h3>Ajouter vos recette</h3>
              <p>c'est toujours plus facile quand c'est automatique !</p>
            </div>
          </div>
      
          <div class="item">
            <img src="../../../../assets/img/plat/aliments_sains_vegetaux.jpg" alt="inventaire">
            <div class="carousel-caption">
              <h3>Faite votre inventaire</h3>
              <p>Plus rien ne se perds!</p>
            </div>
          </div>
      
          <div class="item">
            <img src="../../../../assets/img/plat/cc.jpg" alt="commande">
            <div class="carousel-caption">
              <h3>Passez vos comande</h3>
              <p>en un click !</p>
            </div>
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>