@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'flatpickr/dist/flatpickr.css'; 
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.center{
  margin:10% 30% ;
}
.btn-modal{
  width : 100px ; 
  margin : 15px 0!important;
}
.mat-dialog-container{
  padding: 0 !important;
}

table {
  width: 100%;
  border-radius: 4%;

  th {
    text-decoration: bold;
    vertical-align: middle;
  }
  td{
    vertical-align: middle;

    button{
      width : 50%;
  
  }}
}