:host { 
    .profile1{
        .header{
            height: 50px; 
            width: 100%;
            background-image: url('../../../../src/assets/img/avatar/avatar.png');
            .title {
                color: antiquewhite;

            }
        }
        .user{
             padding: 80px 20px 20px 20px ; 
            .user-avatar{
                position: relative;
                max-width: 30%;
                // @extend .card ;
                .card-body {
                    padding: 40px 15px 15px 15px ;
                }
                .avatar{ 
                    position: absolute;
                    top: -51px;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    // @extend .card ;
                    cursor: pointer;
                }
                .card-body{ 
                    padding: 40px 15px 15px 15px ;
                    p{
                        text-align: justify;
                    }
                       
                }
                        
                }
            }
            .user-info{
                position: relative;
                // @extend .card ;
                .card-header  { 
                    position: absolute ;
                    top: -30px;
                    left: 30px;
                    right: 30px;
                    height: 50px;
                    background-color: plum;
                    // @extend .card ;
                    
                }
                .card-body {
                    padding: 40px 15px 15px 15px ;
                }

            }
        }
    }
