<div class="profile1 w-100 h-100" fxLayout="column">
  <div class="header" fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center">
<span class="title">home</span>
<span class="title">/</span>
<span class="title">profile1</span>
  </div>
<div class="user w-100 "  fxLayout="row" fxLayoutGap="20px">
  <mat-card class="user-avatar " style="padding:0;">
      <div class="card-header" fxLayout="column" fxLayoutAlign="center center">
      <img (click)="file.click()"  [src]="avatar" alt="avatar" class="avatar">
  <input hidden (change)="onchange($event)" #file type="file" accept="image/*"> 
  </div>
      <div class="card-body" fxLayout="column" fxLayoutAlign="center center">
         <mat-card-subtitle style="margin:0;">etudiante </mat-card-subtitle>
          <mat-card-title>ayadi nermine</mat-card-title>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quo praesentium corporis accusamus dolores? Repellendus vel necessitatibus perferendis assumenda dicta nisi at. Eius aliquid odio nulla ea quod molestias modi!</p>
          <button mat-raised-button color="primary"  >follow me </button>
      </div>
      
  </mat-card>

  <mat-card class="user-info w-100 " style="padding:0;">
      <div class="card-header"> basic info  </div>
      <div class="card-body">bonjour</div>
    </mat-card>
 
</div>
</div>